{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Brand</title>
</head>
<body class="with-image">
    {% block content %}
    {% include 'includes/header.html' %}

        {% for indiv in brand %}

                <table>
                    <tr>
                        <th class="th_center">{{ indiv.name }}</th>
                    </tr>       
                </table>

        {% endfor %}

        <br><br>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            {% if brand.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ brand.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link">Page {{ brand.number }} of {{ brand.paginator.num_pages }}</a></li>
            {% if brand.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ brand.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ brand.paginator.num_pages }}">Last &raquo</a></li>
            {% endif %}
            </ul>
        </nav>

    {% include 'includes/footer.html' %}
    {% endblock %}
</body>
</html>
