{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <title>Gadgets</title>
</head>
<body class="with-image">
    {% block content %}
    {% include 'includes/header.html' %}

        {% for indiv in gadget %}
        {% for gadget in indiv.gadget.all %}
        <div class="container container_image"><br/><br/>
            <div class="dep_box">
                <div class="dep_image">
                    <img class="resized_image" src="{{ indiv.gadget_image.url }}" alt="">
                </div>
                <table>
                    <tr>
                        <th class="th_center">{{ indiv.name }}</th>
                    </tr>
                    <tr>
                        <td>Description: {{ indiv.description }}</td>
                    </tr>
                    <tr>
                        <td>Released date: {{ indiv.start_date }}</td>
                    </tr>
    
                </table>
            </div>
        </div>
        {% endfor %}
        {% endfor %}


    {% include 'includes/footer.html' %}
    {% endblock %}
</body>
</html>
